apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# SQLite Persistent Storage Example
# Usage:
#   kustomize build deployment/examples/sqlite-persistent | kubectl apply -f -

namespace: maas-api

resources:
- ../../base/maas-api
- pvc.yaml
- secret.yaml

patches:
- patch: |-
    - op: add
      path: /spec/template/spec/volumes
      value:
        - name: data
          persistentVolumeClaim:
            claimName: maas-api-data
    - op: add
      path: /spec/template/spec/containers/0/volumeMounts
      value:
        - name: data
          mountPath: /data
    - op: add
      path: /spec/template/spec/containers/0/env/-
      value:
        name: DATABASE_URL
        valueFrom:
          secretKeyRef:
            name: database-config
            key: DATABASE_URL
  target:
    kind: Deployment
    name: maas-api
